{% extends "layout.html" %}

{% block headers %}
<script src="/webauthn.js"></script>
{% endblock headers %}

{% block content %}
<form method="post" id="authentication-form">
  <input name="name" id="name" pattern="[a-z0-9.-]{4,32}" type="text" placeholder="name" {% match name %} {% when Some
    with (name) %} value="{{name}}" {% when None %} {% endmatch %} required /> <button id="get-creds" type="button"
    onclick="getCreds()">get credentials</button>
  <input name="id" id="id" type="hidden" />
  <input name="raw_id" id="rawId" type="hidden" />
  <input name="typ" id="type" type="hidden" />
  <input name="authenticator_response" id="type" type="hidden" />
  <input name="client_data_json" id="type" type="hidden" />
  <input name="session_token" id="session_token" type="hidden" />
  <button id="authentication-button" type="submit" form="authentication-form" disabled>authenticate</button>
</form>
{% endblock content %}
