{% extends "layout.html" %}

{% block content %}

<form action="/cert" method="post" onsubmit="setTimeout(() => window.location.replace('/'), 5000)">
  <p>
    <input name="name" id="name" pattern="[a-z0-9.-]{4,32}" type="text" placeholder="name" required />
    <input name="password" id="password" minlength="8" maxlength="32" type="password" placeholder="password" required />
  </p>
  <p><input type="submit" value="add new cert" /></p>
</form>

<hr />

<section>
  {% for cert in certs %}
  <article>
    <h2>{{ cert.cname }}</h2>
    <p class="grey-text">{{ cert.fingerprint|format_fpr }}</p>
    <p class="smaller-text"> {{ cert.not_before|format_date }} - {{ cert.not_after|format_date }}</p>
  </article>
  {% endfor %}
</section>
{% endblock content %}
