<!DOCTYPE html>
<html lang="en">

<head>
  <title>Certs</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#000" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="icon" href="/lock.svg" />
  <link rel="manifest" href="/manifest.json" />
  {% block headers %}
  {% endblock headers %}
</head>

<body>
  <header>
    <h1>Certs</h1>
    <a href="/webauthn/register">register</a>
    <a href="/webauthn/authenticate">authenticate</a>
  </header>
  <hr />
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>

</html>
